<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Paypal Sandbox API Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Orders Functionality Tests">
        <classes>
            <class name="com.paypal.tests._e2e_OrdersTest"/>
        </classes>
    </test>
</suite>
